<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Nirwana Crypto - HTML5 Bootstrap Template">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"><!-- Favicon-->
  <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="./assets/favicons/ms-icon-144x144.png"><!-- PWA primary color-->
  <meta name="theme-color" content="#9C27B0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"><!-- Facebook-->
  <meta property="author" content="nirwana">
  <meta property="og:site_name" content="alexstrap.ux-maestro.com">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website"><!-- Twitter-->
  <meta property="twitter:site" content="nirwana.ux-maestro.com">
  <meta property="twitter:domain" content="nirwana.ux-maestro.com">
  <meta property="twitter:creator" content="nirwana">
  <meta property="twitter:card" content="summary">
  <meta property="twitter:image:src" content="./assets/images/logo-crypto.png">
  <meta property="og:url" content="nirwana.indisains.com/crypto">
  <meta property="og:title" content="Crypto">
  <meta property="og:description" content="Nirwana Crypto - HTML5 Bootstrap Template">
  <meta name="twitter:site" content="nirwana.indisains.com/crypto">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="/images/logo-crypto.png">
  <meta property="og:image" content="/images/logo-crypto.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <title>BC Investing </title><!-- Styles-->
  <!-- Put the 3rd/plugins css here-->
  <link href="/assets/css/vendors/normalize.css" rel="stylesheet">
  <link href="/assets/css/vendors/bootstrap.css" rel="stylesheet">
  <link href="/assets/css/vendors/magnific-popup.css" rel="stylesheet">
  <link href="/assets/css/vendors/materialize.css" rel="stylesheet">
  <link href="/assets/css/vendors/hamburger-menu.css" rel="stylesheet">
  <link href="/assets/css/vendors/animate.css" rel="stylesheet">
  <link href="/assets/css/vendors/animate-extends.css" rel="stylesheet">
  <link href="/assets/css/vendors/slick-carousel/slick.css" rel="stylesheet">
  <link href="/assets/css/vendors/slick-carousel/slick-theme.css" rel="stylesheet">
  <link href="/assets/css/styles.css" rel="stylesheet">
</head>

<body>
  <div id="preloader" style="position: fixed; z-index: 10000; background: #fafafa; width: 100%; height: 100%"><img style="opacity: 0.2; position: fixed; top: calc(50% - 50px); left: calc(50% - 50px)" src="/assets/images/loading.gif" alt="loading"></div>
  <div class="invisible-deco">
    <svg width="38px" height="43px" viewbox="0 0 38 43" version="1.1">
      <defs>
        <lineargradient id="titleLinearGradient-1" x1="34.5063846%" y1="15.1303808%" x2="20.8153155%" y2="110.664023%">
          <stop stop-color="#9C27B0" offset="0%"></stop>
          <stop stop-color="#FFA000" offset="100%"></stop>
        </lineargradient>
      </defs>
      <defs>
        <lineargradient id="hexaLinearGradient-3" x1="66.8412844%" y1="30.62426%" x2="-21.0581447%" y2="100%">
          <stop stop-color="#FFA000" offset="0%"></stop>
          <stop stop-color="#FFECB3" offset="100%"></stop>
        </lineargradient>
      </defs>
      <defs>
        <lineargradient id="hexaLinearGradient-2" x1="66.8412844%" y1="30.62426%" x2="-21.0581447%" y2="100%">
          <stop stop-color="#9C27B0" offset="0%"></stop>
          <stop stop-color="#E1BEE7" offset="100%"></stop>
        </lineargradient>
      </defs>
      <defs>
        <lineargradient id="frmDecoLinearGradient-1" x1="33.650521%" y1="14.3140713%" x2="18.9688557%" y2="110.664023%">
          <stop stop-color="#9C27B0" offset="0%"></stop>
          <stop stop-color="#FFA000" offset="100%"></stop>
        </lineargradient>
      </defs>
    </svg>
  </div>
  <div class="m-application theme--dark transition-page" id="app">
    <div class="loading"></div>
    <div class="m-content coinz grayscale-var" id="main-wrap">
      <div id="blog-page">
        <div class="main-wrap">
          <div class="container-general pt-12">
            <div class="container pt-3">
              <div class="row">

                <!-- ##### ARTICLE #####-->
                <div class="col-md-8 px-0 px-sm-3">
                  <div class="blog-style">
                    <article class="blog-content">
                      <h4 class="text-h4 title-blog">Administrar Usuários</h4>
                    </article>
                    <div class="icon">
						<a href="/logar" class="btn">
							<!--<i class="material-icons small">Voltar</i>-->
							<i>Voltar</i>
						</a>
					</div>
                  </div>
                      <div class="py-3"></div>
                      <div class="card paper">
                        <header>
                          <div class="icon"><i class="material-icons small">message</i></div>
                          <div class="card-content">
                            <span class="card-title">Usuários cadastrados</span>
                          </div>
                        </header>
                        <div class="content">
							<div class="collection">
					            <!-- Table Header -->
					            <div class="collection-item table-header row">
					              <span class="col-md-3 d-block use-text-medium">Nome</span>
					              <span class="col-md-3 d-block use-text-medium">Email</span>
					              <span class="col-md-2 d-block use-text-medium">CPF</span>
					              <span class="col-md-2 d-block use-text-medium">Perfil</span>
					              <span class="col-md-2 d-block use-text-medium">Ação</span>
					            </div>
					
					            <!-- User Rows -->
					            <div class="row" style="top: 17px;position: inherit;" th:each="usuario : ${usuarios}">
					            	<!--<a class="waves-effect collection-item avatar row" href="#!">-->
					                	<span class="col-md-3 d-block use-text-medium" th:text="${usuario.nome}" style="left: 20px;"></span>
					                	<span class="col-md-3 d-block use-text-medium" th:text="${usuario.email}"></span>
					                	<span class="col-md-2 d-block use-text-medium" th:text="${usuario.cpf}"></span>
					                	<span class="col-md-2 d-block use-text-medium" th:text="${usuario.perfil_usuario}"></span>
					                	<!--<div class="col-md-2 action-buttons">-->
										<span class="col-md-2 d-block use-text-medium">
											<div class="icon">
												<a th:href="@{/usuarios/{id}/editar(id=${usuario.id_usuario})}" class="btn">
													<i class="material-icons small">edit</i>
												</a>
												
												<a th:href="@{/usuarios/{id}/excluir(id=${usuario.id_usuario})}" onclick="return confirm('Deseja realmente excluir o usuário?')" class="btn">
													<i class="material-icons small">delete</i>
												</a>
											</div>
										</span>
					            </div>
					        </div>  
                        </div>             
                      </div>
                    </div>
                  </div>
                </div><!-- ##### END SIDEBAR #####-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- Scripts-->
  <!-- Put the 3rd/plugins javascript here-->
  <script src="/assets/js/vendors/jquery.min.js"></script>
  <script src="/assets/js/vendors/bootstrap.min.js"></script>
  <script src="/assets/js/vendors/enquire.min.js"></script>
  <script src="/assets/js/vendors/jquery.form-validator.min.js"></script>
  <script src="/assets/js/vendors/jquery.touchSwipe.min.js"></script>
  <script src="/assets/js/vendors/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/vendors/pace.min.js"></script>
  <script src="/assets/js/vendors/slick.min.js"></script>
  <script src="/assets/js/vendors/wow.min.js"></script>
  <script src="/assets/js/vendors/jquery.navScroll.min.js"></script>
  <script src="/assets/js/vendors/chart.min.js"></script><!-- This assets are not avalaible in npm.js or it has been costumized-->
  <script src="/assets/js/vendors/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <script src="/assets/js/vendors/materialize.js"></script>
  <script src="/assets/js/scripts.js"></script>
  <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
</body>

</html>